# Porta do servidor
PORT=3000

# (Versão final) String de conexão do MongoDB
MONGO_URI=mongodb://localhost:27017/crud_de_listas

# (Versão final) Segredo do JWT
JWT_SECRET=troque-este-segredo
JWT_EXPIRES_IN=1d
